
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 95vh;
    width: 100vw;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#formulario {
    text-align: center;
}

.nome {
    margin-right: 255px;
}

.campo {
    padding: 10px;
}

#emailtxt {
    width: 280px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid black;
}

#senhatxt {
    width: 280px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid black;
}

#botao-login {
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 12px;
    width: 300px;
    border-radius: 5px;
    background-color: #6A27D7;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#botao-login:hover {
    background-color: #54269e;
    transition: 0.5s;
}

#botao-senha {
    padding: 12px;
    width: 300px;
    border-radius: 5px;
    background-color: #6A27D7;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#botao-senha:hover {
    background-color: #54269e;
    transition: 0.5s;
}

.botao-escuro {
    text-align: center;
}

.escuro {
    padding: 20px;
    margin-top: 520px;
    font-weight: bold;
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.escuro:hover {
    background-color: black;
    transition: 0.5s;
}